#homepage {
    background-color: rgba(28,168,6,0.8);
    height: 100vh;
    width: 100vw;
}

/* Heading */

.jumbotron {
    background-image: url("../images/WebTitleBackground.jpg");
    text-align: center;
    color: #f2a115;
    font-family: 'Lobster', cursive;
    margin-top: 30px;
}

.img-thumbnail {
    max-width: 100%;
    height: auto;
    display: block;
}

/* This is for the hover to work on the index.html for the three maps*/

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.row div:hover span.text-content {
  opacity: 1;
}

/* Styling below is for footer for all pages */

#hpagef {
  margin-top: 230px;
}

/* Styling below is for pages upper, mid, and lower.html */

.panel-default .panel-heading {
  font-family: 'Lobster', cursive;
  font-size: 26px;
  color: #F2A115;
  background-color: rgba(28,168,6,0.7);
  text-shadow: 2px 2px 7px #111;
}


